<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/main.css">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <script defer src="/public/js/app.js"></script>
    <script defer src="/public/js/frontendjs.js"></script>
</head>
<body>

    <div id="container">
   {{log this}}
    {{> header}}
    {{#if (emptyObject messages)}} 
    {{> flashmessage}}
    {{/if}}

   
        {{{body}}}
    </div>
</body>

{{#if logged}}
    <script>
        let ele = document.getElementById('logout-button'); 
        if (ele) {
            ele.onclick = (even) => {
                fetch('/users/logout', {
                    method: "POST"
                })
                .then((data) => {
                    location.replace('/'); 
                })
            }
        }
    </script>
    {{/if}}