<html>

<head>
  <title>index</title>
  <link rel="stylesheet" type="text/css" href="public/css/style.css">
  
</head>


<div id="main-content">
  {{#each results}}
    {{> card this}}
  {{/each}}
</div>

</html>